body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  header {
    background-color: #558B2F;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    color: #fff;
  }
  
  nav {
    background-color: #33691E;
    padding: 10px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .intro-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  footer {
    background-color: #33691E;
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  
